.portfolio {
    position: relative;
    margin-bottom: calc(var(--u-ritmo-verticale-vw) * 8);
}

.portfolio-blue {
    position: absolute;
    max-width: 100dvw;
    width: 100%;
    height: calc(var(--u-ritmo-verticale-vw) * 60);

    background: linear-gradient(360deg, rgba(255, 255, 255, 0) 19.96%, #98DEFF 146%);
    border-radius: 45px 45px 0px 0px;
    z-index: -1;
}

.portfolio-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--u-ritmo-verticale-vw) * 4.5);
    padding-top: calc(var(--u-ritmo-verticale-vw) * 6);
}

.portfolio-title {
    font-size: calc(var(--u-ritmo-verticale-vw) * 8.5);
    font-weight: 500;
}

.portfolio-cards {
    width: calc(var(--u-ritmo-verticale-vw) * 142);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: calc(var(--u-ritmo-verticale-vw) * 5);
}

@media screen and (max-width: 640px) {
    .btn-text {
        font-size: calc(var(--u-ritmo-verticale-vw-mobile) * 2.2);
    }
    .portfolio {
        margin-bottom: calc(var(--u-ritmo-verticale-vw-mobile) * 6);
    }
    
    .portfolio-blue {
        height: calc(var(--u-ritmo-verticale-vw-mobile) * 60);
    }
    
    .portfolio-wrapper {
        gap: calc(var(--u-ritmo-verticale-vw-mobile) * 4);
        padding-top: calc(var(--u-ritmo-verticale-vw-mobile) * 4);
    }
    
    .portfolio-title {
        font-size: calc(var(--u-ritmo-verticale-vw-mobile) * 5.4);
        font-weight: 500;
    }
    
    .portfolio-cards {
        width: calc(var(--u-ritmo-verticale-vw) * 142);
        flex-direction: column;
        flex-wrap: nowrap;
        gap: calc(var(--u-ritmo-verticale-vw) * 10);
    }
}