* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: SF PRO;
  color: #383838;
}

@font-face {
  font-family: 'SF PRO'; /* Имя шрифта */
  src: url('public/fonts/SF-Pro-Display-Semibold.otf');
  font-weight: normal; /* Укажите вес шрифта */
  font-style: normal; /* Укажите стиль шрифта */
}

@font-face {
  font-family: 'CraftworkGrotesk'; /* Имя шрифта */
  src: url('public/fonts/CraftworkGrotesk-Medium.ttf');
  font-weight: normal; /* Укажите вес шрифта */
  font-style: normal; /* Укажите стиль шрифта */
}

span {
  margin: 0;
  padding: 0;
  font-family: CraftworkGrotesk, sans-serif;
  color: #1BB6FF;
  font-size: calc(var(--u-ritmo-verticale-vw) * 3.2);
  text-wrap: nowrap; 
}

.width-restriction {
  margin: 0 auto;
  width: calc(100% - 30rem);
  max-width: 1920px;
}

@media only screen and (max-width: 1300px) {
  .width-restriction {
    width: calc(100% - 14rem);
  }
}

@media only screen and (max-width: 850px) {
  .width-restriction {
    width: 70%;
  }
}

@media only screen and (max-width: 750px) {
  .width-restriction {
    width: 75%;
  }
}

@media only screen and (max-width: 600px) {
  .width-restriction {
    width: 90%;
  }
}

@media only screen and (max-width: 450px) {
  .width-restriction {
    width: 92%;
  }
}